.parallax-img {
  background-image: url("cloud.jpg");
  background-size: cover;
}

#opaque-background {
  background-color: rgba(227, 227, 227, 0.4);
}

.five-day-div {
  display: block;
}

.seven-day-div {
  display: none;
}

.hourly-div {
  display: none;
}
